:root {
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
	color-scheme: dark light;
	--body-color: #000;
	--body-bg: #{lighten($color: #000, $amount: 11.8033989%)};
}
@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}

html,
body {
	margin: 0;
}

body {
	font-family: "Crete Round", serif;
	font-family: "Poppins", sans-serif;
	font-family: "Roboto", sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: clip;
	color: var(--body-color);
	background-color: var(--body-bg);

	@media (prefers-color-scheme: dark) {
		--body-color: #fff;
		--body-bg: #{lighten($color: #000, $amount: 11.8033989%)};
	}

	@media (prefers-color-scheme: light) {
		--body-color: #000;
		--body-bg: #{darken($color: #fff, $amount: 4.8632678%)};
	}
}

*,
::after,
::before {
	box-sizing: border-box;
}

:any-link {
	text-underline-offset: 0.15em;
	text-decoration-thickness: 0.0625em;
}

.app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100svh;
	padding: 1rem;
	row-gap: 2rem;

	&__title {
		text-align: center;
		margin: 0;

		&-sup {
			vertical-align: 100%;
			font-size: 0.381966011em;
		}
	}

	&__logo {
		width: 100%;
		height: auto;
		max-width: 600px;

		@media (prefers-reduced-motion: reduce) {
			animation-play-state: paused;
		}

		@media (prefers-color-scheme: dark) {
			&--light {
				display: none;
			}
		}

		@media (prefers-color-scheme: light) {
			&--light {
				display: block !important;
			}

			&--dark {
				display: none;
			}
		}
	}
}

.nav {
	&__list {
		display: inline-flex;
		list-style: none;
		margin: 0;
		padding: 0;
		row-gap: 0.5rem;
		column-gap: 1rem;
	}

	&__link {
		display: inline-flex;
		align-items: center;
		column-gap: 0.5rem;
	}
}
