doctype html
html
	head
		meta(charset='utf-8')
		title DBD - jfunbl
		link(rel="stylesheet" href="index.scss")
		script(src="index.js")
	body
		.app
			h1 Just having fun
			canvas#dbd-logo(width='400' height='300')
